
table { font-size:10pt; text-align:center; vertical-align:middle !important; }
a:link { text-decoration: none; }

.mymargin5 { margin:5px 0px 5px 0px; }

.mycolor1 { background-color:steelblue !important; color:white !important; }
.mycolor2 { background-color: lightsteelblue !important; }
.mycolor3 { background-color: lightyellow !important; }

.mythumb_box {
    font-size: 14px;
    text-align: center;
    border: 1px solid lightgray;
    padding: 3px;
    margin: 5px 0 5px 0;
}

.mythumb_image {
    height: 150px;
    max-width: 100%;
    margin-bottom: 3px;
}

.mythumb_text {
    border: 1px solid lightgray;
    background-color: lightsteelblue;
    padding: 3px;
}